{% extends "profile/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}



<!DOCTYPE html>


    <html class=" ">

    <head>

        <title>Edit - KHEC Forum</title>
        <link href="{% static 'MarkDown-Editor/plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'MarkDown-Editor/plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'MarkDown-Editor/martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />

<style>

    a {
        text-decoration: none !important;
    }

  .edit-review-message {
    padding: .5em;
    background-color: #FFFF99;
    color: grey;
  }

  .form-errors {
    padding: .5em;
    background-color: red;
    color: white;
  }

</style>

    </head>
    <body class="ask-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <div class="container">




        <div id="content" class="snippet-hidden">



<div class="ask-mainbar box-border" id="mainbar">

       <div class="edit-review-message">
            <p>Your edit will be placed in a queue until it is peer reviewed.</p>
                   <p class="mb0">We welcome edits that make the post easier to understand and more valuable for readers. Because community members review edits, please try to make the post substantially better than how you found it, for example, by fixing grammar or adding additional resources and hyperlinks.</p>
       </div>

        

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        {{form}}
        </div>
        <button type="submit">Save Changes</button>
    </form>
</div>

    
 

</div>

        </div>
    </div>    <div class="site-footer--copyright fs-fine">
                <ul class="d-none">
                    <li class="d-none"><a class="d-none" href="">Blog</a></li>
                    <li class="d-none"><a href="" class="d-none" >Facebook</a></li>
                    <li class="d-none"><a href="" class="d-none" >Twitter</a></li>
                    <li class="d-none"><a href="" class="d-none" >LinkedIn</a></li>
                </ul>

                <p class="mt-auto mb24">
site design / logo &#169; 2021 Stack Exchange Inc; user contributions licensed under <a href="https://stackoverflow.com/help/licensing">cc by-sa</a>.                    <span id="svnrev">rev&nbsp;2021.11.12.40742</span>
                </p>
            </div>
        </div>

    </footer>


    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>



<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/martor/js/martor.bootstrap.min.js' %}"></script>



    </body>
    </html>









{% endblock content %}
