{% extends "profile/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<!DOCTYPE html>


    <html class="html__responsive html__unpinned-leftnav">

    <head>
    <link rel="stylesheet" href="{% static 'Tags/choices.min.css' %}" />
    </head>
    <body class="ask-page unified-theme js-ask-page-v2 floating-content">
    <div id="notify-container"></div>
    <div id="custom-header"></div>




<div class="container">


        <div id="content" class="pt0 snippet-hidden">

            
<div class="d-flex ai-center py24 bg-no-repeat bg-right-bottom wide:bg-image-ask-v2 wide:h-ask-v2-background">
        <div class="fs-headline1">
            Ask a public question
        </div>
</div>

<div class="d-flex ai-start jc-space-between md:fd-column md:ai-stretch">
    <div class="flex--item fl1 wmn0">



  <form method="post" reviewQuestion_url="{% url 'qa:reviewQuestion' %}" enctype="multipart/form-data">
      {% csrf_token %}
            <div id="question-form">
                <div class="bg-white bar-sm bs-md p16 ba bc-black-100">
                    <div id="div_id_title" class="ps-relative mb16">
                        <div class="d-flex fl1 fd-column js-stacks-validation">
                            <label class="d-block s-label mb4" for="id_title">
                                Title
                                <div class="d-flex">
                                    <p class="s-description mt2 flex--item9">Be specific and imagine you&#x2019;re asking a question to another person</p>
                                    <div class="flex--item3 ta-right text-counter mr0 fs-caption mt2 fl1"></div>
                                </div>
                            </label>
                            <div class="fl1 ps-relative">
                                <input id="id_title" name="title" type="text" maxlength="300" tabindex="100" placeholder="e.g. Question title Goes Gere" class="s-input js-post-title-field" data-min-length="15" data-max-length="150">
                              <div class="error_message_of_title"></div><br>
                              <div class="shortPostTitle"></div>
                              <div class="missingTitleError"></div>
                            </div>
                        </div>
                    </div>


      <div id="post-editor" class="post-editor js-post-editor mt0 mb16">
              <div class="ps-relative">
                      <label class="s-label mb4 d-block" for="wmd-input">Body
                              <p class="s-description mt2">Include all the information someone would need to answer your question</p>
                      </label>
                  <div class="wmd-container mb8">
                      <div class="js-stacks-validation">
                          <div class="ps-relative">
                                          {{ form.body }}
                            <div class="missingTextBodyError"></div>
                            <div class="shortPostBody"></div>
                          </div>
                          <div class="s-input-message mt4 d-none js-stacks-validation-message"></div>
                      </div>
                  </div>
              </div>
      </div>

      <!-- Media Upload Section (Simple, No JavaScript Required) -->
      <div class="ps-relative mt16">
            <div class="ps-relative">
                <div class="form-item p0 js-stacks-validation">
                    <div class="d-flex ai-center jc-space-between">
                        <label class="s-label mb4 d-block flex--item fl1">
                            Add Media (Optional)
                            <div class="s-description mt2">
                                Upload images or files from your computer. They will be automatically added to your question.
                            </div>
                        </label>
                    </div>
                    <div class="ps-relative">
                        <input 
                            type="file" 
                            name="media_files" 
                            id="media_files" 
                            multiple
                            accept="image/*,.pdf,.doc,.docx"
                            style="width: 100%; padding: 8px 10px; border: 1px solid #d1d5da; border-radius: 4px; font-size: 14px;"
                        />
                        <div class="s-description mt2" style="font-size: 12px; color: #6c757d;">
                            You can select multiple files. Supported: Images (JPG, PNG, GIF, etc.), PDF, DOC, DOCX
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- OR paste URLs -->
        <div class="ps-relative mt16">
            <div class="ps-relative">
                <div class="form-item p0 js-stacks-validation">
                    <div class="d-flex ai-center jc-space-between">
                        <label class="s-label mb4 d-block flex--item fl1" for="media_urls">
                            Or Paste Image URLs
                            <div class="s-description mt2">
                                Paste image URLs here (one per line) if you prefer.
                            </div>
                        </label>
                    </div>
                    <div class="ps-relative">
                        <textarea 
                            name="media_urls" 
                            id="media_urls" 
                            rows="2" 
                            placeholder="https://example.com/image1.jpg&#10;https://example.com/image2.png"
                            style="width: 100%; padding: 8px 10px; border: 1px solid #d1d5da; border-radius: 4px; font-size: 14px; font-family: monospace;"
                        ></textarea>
                    </div>
                </div>
            </div>
        </div>



      <div class="ps-relative" id="tag-editor">
            <div class="ps-relative">
                <div class="form-item p0 js-stacks-validation js-tag-editor-container">
                    <div class="d-flex ai-center jc-space-between">
                        <label for="tagnames" class="s-label mb4 d-block flex--item fl1">
                            Tags
                                <div class="s-description mt2">Add up to 5 tags to describe what your question is about</div>
                        </label>
                    </div>

                    <div class="ps-relative">
                        <div>
                            <input id="choices-text-remove-button" class="form-control" name="tags" type="text" size="60" value="" tabindex="103" placeholder="Enter something">
                            <div class="error_message_of_tag"></div>
                            <div class="error_message_of_new_tag"></div><br>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>

        <!-- Community Selection -->
        <div class="ps-relative mt16" id="community-editor">
            <div class="ps-relative">
                <div class="form-item p0 js-stacks-validation">
                    <div class="d-flex ai-center jc-space-between">
                        <label for="id_community" class="s-label mb4 d-block flex--item fl1">
                            Community
                            <div class="s-description mt2">Select a community to post this question to</div>
                        </label>
                    </div>
                    <div class="ps-relative">
                        <select id="id_community" name="community" class="form-control" tabindex="104" style="width: 100%; padding: 8px 10px; border: 1px solid #d1d5da; border-radius: 4px; font-size: 14px; line-height: 1.5; height: auto; min-height: 38px;">
                            <option value="">-- No Community --</option>
                            {% for community in user_communities %}
                                <option value="{{ community.id }}">{{ community.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="error_message_of_community"></div><br>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>


  <div class="seeErrorBelow"></div>

    <div class="d-flex gsx gs4 ai-center mt32">
        <button 
              type="submit" 
              id="subBut" 
              class="btn btn-primary btn-lg"
              >Post
        </button>
    </div>


        </form>
    </div>
</div>


        </div>
    </div>





<style>

.error_message_of_tag {
  color: red;
}

.error_message_of_title {
  color: red;
}

.error_message_of_body_text {
  color: red;
}

.shortPostTitle {
  color: red;
}

.error_message_of_new_tag {
  color: red;
}

.missingTextBodyError {
  color: red;
}

.missingTitleError {
  color: red;
}

.shortPostBody {
  color: red;
}

.seeErrorBelow {
  color: red;
}

</style>

<script src="{% static 'Tags/choices.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Tag.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>


<link href="{% static 'MarkDown-Editor/plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'MarkDown-Editor/plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'MarkDown-Editor/martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />

<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/martor/js/martor.bootstrap.min.js' %}"></script>

<script>


$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 2000);
});

</script>

<script>


$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 1500);
});

</script>

<!-- Script to prevent page from close if something is written in text -->

<script type="text/javascript">
  "use strict";
(() => {
const modified_inputs = new Set;
const defaultValue = "defaultValue";
// store default values
addEventListener("beforeinput", (evt) => {
    const target = evt.target;
    if (!(defaultValue in target || defaultValue in target.dataset)) {
        target.dataset[defaultValue] = ("" + (target.value || target.textContent)).trim();
    }
});
// detect input modifications
addEventListener("input", (evt) => {
    const target = evt.target;
    let original;
    if (defaultValue in target) {
        original = target[defaultValue];
    } else {
        original = target.dataset[defaultValue];
    }
    if (original !== ("" + (target.value || target.textContent)).trim()) {
        if (!modified_inputs.has(target)) {
            modified_inputs.add(target);
        }
    } else if (modified_inputs.has(target)) {
        modified_inputs.delete(target);
    }
});
// clear modified inputs upon form submission
addEventListener("submit", (evt) => {
    modified_inputs.clear();
    // to prevent the warning from happening, it is advisable
    // that you clear your form controls back to their default
    // state with evt.target.reset() or form.reset() after submission
});
// warn before closing if any inputs are modified
addEventListener("beforeunload", (evt) => {
    if (modified_inputs.size) {
        const unsaved_changes_warning = "Changes you made may not be saved.";
        evt.returnValue = unsaved_changes_warning;
        return unsaved_changes_warning;
    }
});
})();
</script>

<script src="{% static 'qa/js/image-preview.js' %}"></script>

<script>
// Media Upload Handler
document.addEventListener('DOMContentLoaded', function() {
    const uploadBtn = document.getElementById('upload-media-btn');
    const fileInput = document.getElementById('media-file-input');
    const urlInput = document.getElementById('media-url-input');
    const addMediaBtn = document.getElementById('add-media-btn');
    const mediaPreview = document.getElementById('media-preview');
    const mediaList = document.getElementById('media-list');
    const errorMsg = document.querySelector('.error_message_of_media');
    
    let mediaItems = [];
    
    // File upload button click
    uploadBtn.addEventListener('click', function() {
        fileInput.click();
    });
    
    // Handle file selection
    fileInput.addEventListener('change', function(e) {
        const file = e.target.files[0];
        if (file) {
            // Validate file size (max 5MB)
            if (file.size > 5 * 1024 * 1024) {
                errorMsg.innerHTML = '<p style="color: red;">File size exceeds 5MB limit</p>';
                return;
            }
            
            // Create FormData
            const formData = new FormData();
            formData.append('image', file);
            
            // Upload file
            uploadBtn.textContent = 'Uploading...';
            uploadBtn.disabled = true;
            
            fetch('{% url "qa:markdown_uploader" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 200) {
                    urlInput.value = data.link;
                    errorMsg.innerHTML = '';
                    uploadBtn.textContent = '✓ File Uploaded';
                    setTimeout(() => {
                        uploadBtn.textContent = 'Upload File';
                        uploadBtn.disabled = false;
                    }, 2000);
                } else {
                    errorMsg.innerHTML = '<p style="color: red;">Upload failed: ' + data.error + '</p>';
                    uploadBtn.textContent = 'Upload File';
                    uploadBtn.disabled = false;
                }
            })
            .catch(error => {
                errorMsg.innerHTML = '<p style="color: red;">Upload error: ' + error + '</p>';
                uploadBtn.textContent = 'Upload File';
                uploadBtn.disabled = false;
            });
        }
    });
    
    // Add media button click
    addMediaBtn.addEventListener('click', function() {
        const url = urlInput.value.trim();
        
        if (!url) {
            errorMsg.innerHTML = '<p style="color: red;">Please enter a media URL or upload a file</p>';
            return;
        }
        
        // Add to media list
        mediaItems.push(url);
        
        // Display preview
        const mediaItem = document.createElement('div');
        mediaItem.style.cssText = 'margin: 8px 0; padding: 8px; background: white; border-radius: 4px; display: flex; justify-content: space-between; align-items: center;';
        mediaItem.innerHTML = `
            <a href="${url}" target="_blank" style="color: #0074cc; text-decoration: none; word-break: break-all;">${url.substring(0, 50)}...</a>
            <button type="button" class="remove-media-btn" style="background: #dc3545; color: white; border: none; padding: 4px 8px; border-radius: 3px; cursor: pointer;">Remove</button>
        `;
        
        mediaList.appendChild(mediaItem);
        mediaPreview.style.display = 'block';
        
        // Remove button handler
        mediaItem.querySelector('.remove-media-btn').addEventListener('click', function() {
            mediaItems.splice(mediaItems.indexOf(url), 1);
            mediaItem.remove();
            if (mediaItems.length === 0) {
                mediaPreview.style.display = 'none';
            }
        });
        
        // Clear input
        urlInput.value = '';
        errorMsg.innerHTML = '';
    });
    
    // Allow Enter key to add media
    urlInput.addEventListener('keypress', function(e) {
        if (e.key === 'Enter') {
            addMediaBtn.click();
        }
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
        
    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>

    
    </body>
    </html>



{% endblock content %}

